.text {
	text-transform: uppercase;
	background: linear-gradient(to right, #ffffff 0%, #9986ca 50%, #27194d 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    font-size: 5vw;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
}

.btn {
    background-color:#6b5b95;
    color:white;
    border:none;
    margin-top:20px;
	width:300px;
}

.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none !important;
    background-color:#6b5b95 !important;
}

div {
	text-align: center;
}