div {
    width: 300px;
    margin:10px;
    padding:10px;
    background-color:#d5d0e2;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    justify-content: left;
}

.btn {
    background-color:#6b5b95;
    color:white;
    border:none;
    font-size:100%;
    padding:10px;
    width:100%;
}

.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none !important;
    background-color:#6b5b95 !important;
}


/* Varannan färg för toggle knappens */
.active {
    color: #e100ff;
}

.disabled {
    color: rgb(46, 46, 46);
}

.list {
    cursor: pointer;
}