<!-- Login funktion och skapa ny användare knapp -->
<div class="div" *ngIf="!user">
  <form (ngSubmit)="onSubmit()" #userForm="ngForm">
    <p style="font-size:1.2em">LOGIN</p>

    <label for="email">Email</label>
    <input 
    id="email" 
    name="email" 
    class="form-control" 
    required email 
    [(ngModel)]="model.email" 
    #email="ngModel" 
    placeholder="Email">

    <div [hidden]="!email.touched || email.valid" class="alert alert-danger" style="font-size:12px; margin-top:-11px; padding:5px;">
      <strong>Incorrect email</strong>
    </div>

    <label for="password">Password</label>
    <input 
    type="password"
    id="password"
    name="password"
    minlength="10"
    [(ngModel)]="model.password"
    class="form-control" 
    placeholder="Password" 
    required
    #password="ngModel">

    <div [hidden]="!password.touched || password.valid" class="alert alert-danger" style="font-size:12px; margin-top:-11px; padding:5px;">
      <strong>Incorrect password</strong>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="userForm.form.invalid">Login</button>
    
  </form>
</div>

<!-- Redan inloggad, logout knapp -->
<div class="div out" *ngIf="user">
  <p style="font-size:18px">
    You're already logged in with <br>
    <strong class="account">{{user}}</strong><br>
    Would you like to logout?
  </p>
  <button type="button" class="btn btn-primary logout" (click)="logout()">LOGOUT</button>
</div>