<!-- Innehåller login formulär och logout knapp -->

<div class="div" *ngIf="!user">
  <form #userForm="ngForm">
    <p style="font-size:1.2em">LOGIN</p>
    <input id="name" name="name" class="form-control" 
      required pattern="(?=.*\d)(?=.*[a-zA-Z]).{10,}" [(ngModel)]="value" #name="ngModel" 
      placeholder="Username">
          
    <div *ngIf="name.invalid" class="alert alert-danger" style="font-size:12px; padding:2px;margin-bottom:0px;">
      Username must contain a <strong>number</strong> <br>and be atleast <strong>10 characters</strong> long.
    </div>

    
      <button [routerLink]="['/dashboard']" type="submit" class="btn btn-primary" [disabled]="!userForm.form.valid" (click)="login()">Login</button>
      <button type="submit" class="btn btn-primary">Create new user</button>
    
  </form>
</div>

<div class="div out" *ngIf="user">
  <p style="font-size:1em">
    You're already logged in with <br>
    <strong class="account">{{user}}</strong><br>
    Would you like to logout?
  </p>
  <button type="button" class="btn btn-primary logout" (click)="logout()">LOGOUT</button>
</div>